$teal: (
  50 : #ebf6f5,
  100 : #cee9e6,
  200 : #addbd6,
  300 : #8ccdc5,
  400 : #73c2b8,
  500 : #5ab7ac,
  600 : #52b0a5,
  700 : #48a79b,
  800 : #3f9f92,
  900 : #2e9082,
  A100 : #d6fff9,
  A200 : #a3fff1,
  A400 : #70ffea,
  A700 : #57ffe6,
  contrast: (
      50 :  #ffffff,
      100 :  #ffffff,
      200 : #ffffff,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      900 : #ffffff,
      A100 :  #ffffff,
      A200 :  #ffffff,
      A400 :  #ffffff,
      A700 :  #ffffff,
  )
);
