.card-column {
  width: 450px;
  background-color: #F7F8F9;
  border-radius: 12px;
  margin-right: 1.5rem;

  &__title-container {
    padding: 1rem 0.5rem;
  }

  &__title {
    font-size: 0.8rem;
    margin-bottom: 0;
    text-align: center;
    color: #36454f;
  }

  &__body {
    overflow-y: auto;
  }
}